@import url("https://fonts.googleapis.com/css?family=Prompt:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");


* {
  font-size: "16px";
  font-family: "Prompt";
}
